.new {
    display: flex;
    height: 100%;
}

.newContainer {
    flex: 1;

}

.top {

    border-bottom: 1px solid #ccc;

}

.bottom {
    display: flex;
}

.right {
    flex: 2;
    padding-left: 20px;
}

.formInput {
    margin-bottom: 15px;
}

.formInput label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formInput select,
.formInput input[type="text"],
.formInput input[type="password"],
.formInput input[type="number"],
.formInput input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.formInput select {
    cursor: pointer;
}

.boolean {
    display: flex;
    align-items: center;
    width: 450px;
}

.boolean input[type="checkbox"] {
    margin-right: 5px;
    width: 50px;
}

.error {
    color: red;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.img {
    width: 50px;
    height: 50px;
}

.icon {
    margin-top: 5px;
}